<div class="container">

  <form action="/<%= @tweets%>", method="post">
    <input type="text" name="username" placeholder ="Twitter username" />
    <input type="submit" value="Enter" />
  </form>


</div>




