<div class="container">

  <form id="target" method="post">
    <input id="username" type="text" name="username" placeholder ="Twitter username" />
    <input type="submit" value="Enter" />
  </form>

</div>

<div class='loading'>
</div>

<div id="result">
</div>

